@model EditUserProfile
@{
    ViewData["Title"] = "UserProfile";
}


<section>
    <div class="container py-5">
        <div class="row ">
            <div class="col-lg-4">
                <div class="card mb-4 bg-secondary">
                    <div class="card-body text-center">
                        <img src="@Url.Content(Model.ExistingImage)" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.First_Name @Model.Last_Name</h5>
                        <p class="text-muted mb-1">@Model.UserName</p>
                        <p class="text-muted mb-4"></p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4 bg-secondary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.First_Name @Model.Last_Name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">User Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Gender</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Date_Of_Birth.Value.ToString("dd-MM-yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="card bg-secondary rounded">
                    <div class="card-header">
                        <nav class="nav nav-borders">
                            <a class="nav-link " onclick="showUpdateProfileForm()" class="nav-link">Update Profile </a>
                            <a class="nav-link" onclick="showChangePasswordForm()" class="nav-link">Change Password</a>
                           
                        </nav>
                       
                    </div>
                    <div class="card-body">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="col-sm-12 col-xl-12">
                                <div class="alert alert-success">
                                    @TempData["SuccessMessage"]
                                </div>
                            </div>
                        }
                        <form asp-action="UserProfile" id="updateProfileForm" enctype="multipart/form-data" method="post">
                            <div class="row g-3">
                                <div class="col form-floating mb-3">
                                    <input type="email" class="form-control" asp-for="Email">
                                    <label for="floatingInput" asp-for="Email"></label>
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="col form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="UserName">
                                    <label for="floatingInput" asp-for="UserName"></label>
                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="First_Name">
                                    <label for="floatingInput" asp-for="First_Name"></label>
                                    <span class="text-danger" asp-validation-for="First_Name"></span>
                                </div>
                                <div class="col form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="Last_Name">
                                    <label for="floatingInput" asp-for="Last_Name"></label>
                                    <span class="text-danger" asp-validation-for="Last_Name"></span>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col form-floating mb-3">
                                    <input type="date" class="form-control" asp-for="Date_Of_Birth">
                                    <label for="floatingInput" asp-for="Date_Of_Birth"></label>
                                    <span class="text-danger" asp-validation-for="Date_Of_Birth"></span>

                                </div>
                                <div class="col form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="PhoneNumber">
                                    <label for="floatingInput" asp-for="PhoneNumber"></label>
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col form-floating mb-3">
                                    <label for="floatingSelect" asp-for="PictureProfile"></label>
                                    <input class="form-control form-control-lg bg-dark" type="file" class="form-control" asp-for="PictureProfile" >
                                    <span class="text-danger" asp-validation-for="PictureProfile"></span>
                                </div>
                                <div class="col form-floating mb-3">
                                    @Html.DropDownList("Gender", Html.GetEnumSelectList<Gender>(), "--Choose Gender --", new { @class = "form-select " })
                                    <label for="floatingSelect" asp-for="Gender"></label>
                                    <span class="text-danger" asp-validation-for="Gender"></span>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-success m-2 " type="submit">Create User</button>
                        </form>
                        <form id="changePasswordForm" asp-action="ChangePassword" style="display:none;">
                            <div class="col form-floating mb-3">
                                <input type="email" class="form-control" asp-for="PasswordHash">
                                <label for="floatingInput" asp-for="PasswordHash"></label>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            

                            <button type="submit">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>